---
import type { CollectionEntry } from 'astro:content'

interface Props {
  project: CollectionEntry<'projects'>
}

const { project } = Astro.props
---

<article class="row">
  <div>
    <div>
      <a href={`/projects/${project.slug}`}>{project.data.title}</a>
    </div>
    <div class="row-sub">{project.data.summary}</div>
    <div class="project-tags">
      {project.data.tags.map((tag) => <span>{tag}</span>)}
    </div>
  </div>
  <div class="row-year">{project.data.year}</div>
</article>
